---
const { text } = Astro.props;
---

<div class="relative my-32">
  <div class="relative w-full pl-5 overflow-x-hidden md:pl-0">
    <div
      class="absolute w-full h-px bg-gradient-to-r from-transparent via-neutral-300 to-neutral-400 dark:from-transparent dark:via-neutral-700 dark:to-neutral-950 md:from-neutral-400 md:via-transparent md:to-neutral-400 md:dark:from-neutral-950 md:dark:via-transparent md:dark:to-neutral-950"
    >
    </div>
    <div
      class="w-full h-px border-t border-dashed border-neutral-400 dark:border-neutral-600"
    >
    </div>
  </div>
</div>
