---
import { skills } from "../../content/config.ts";
import { getIconComponent } from "../iconskills/IconAll.astro";
---

<section class="max-w-4xl mx-auto px-7 lg:px-0" id="skills">
  <div class="container-skill">
    <h2
      class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
      style="margin-bottom: 20px; margin-top: -50px;"
    >
      Skills & Knowledge
    </h2>
    <ul
      class="ul-skill text-neutral dark:text-neutral-400 hover:text-neutral-900"
    >
      {
        skills.map(({ icon, title }) => {
          const IconComponent = getIconComponent(icon);
          return (
            <li class="li-skills">
              {IconComponent && <IconComponent />}
              <p class="p-skill font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100">
                {title}
              </p>
            </li>
          );
        })
      }
    </ul>
  </div>
</section>

<style>
  .li-skills {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
  }

  .p-skill {
    padding: 5px 0;
  }

  .ul-skill {
    position: relative;
    display: grid;
    width: 100%;
    align-items: center;
    gap: 15px;
    padding: 40px 0;
    width: 100%;
    overflow: hidden;
    grid-template-columns: repeat(8, 1fr);
  }
  @media (min-width: 300px) {
    .ul-skill {
      grid-template-columns: repeat(3, 1fr);
      padding: 20px 0;
    }
  }
  @media (min-width: 550px) {
    .ul-skill {
      grid-template-columns: repeat(4, 1fr);
      padding: 20px 0;
    }
  }
  @media (min-width: 800px) {
    .ul-skill {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  @media (min-width: 1000px) {
    .ul-skill {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  @media (min-width: 1200px) {
    .ul-skill {
      grid-template-columns: repeat(7, 1fr);
    }
  }
  @media (min-width: 1350px) {
    .ul-skill {
      grid-template-columns: repeat(8, 1fr);
    }
  }
</style>
